body {
    background-color: rgb(180, 20, 20);
}
h4 {
    color: rgb(180, 20, 20);
}
th,td {
    text-align: left;
}
.buttonStyle {
    background-color: rgb(180, 20, 20);
    color: white;
}
#MainBox {
    background-color: grey;  
}