<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Submit New Image</title>
</head>

<body>
  <form action="#" method="post" th:action="@{/ImageSubmit}" th:object="${imgdata}">
     
    <input type="text" placeholder="Image Name" th:field="*{imgname}"/>
    <input id="alt" type="text" placeholder="Alternate Text" th:field="*{alttext}"/>
    <label for="imgfile">Upload an Image to the Repository:</label><input id="img" type="file" accept=".img,.jpeg,.png" onchange="showimg()" th:field="*{imgurl}">
    <br/>
    <img id="imgs" alt="" src="">
    <br/>
    <input type="submit"/>
  </form>
</body>
<script>
  const image_input = document.querySelector("#img");
image_input.addEventListener("change", function() {
   const reader = new FileReader();
   reader.addEventListener("load", () => {
   const uploaded_image = reader.result;
   document.querySelector("#imgs").src = '${uploaded_image}';
});
   reader.readAsDataURL(this.files[0]);
});
</script>

</html>