<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Add New Image</title>
</head>

<body style="text-align:center; margin: 0; background-color: rgb(150, 177, 182);">
  <form action="#" method="post" th:action="@{/ImageSubmit}" th:object="${imgdata}">
     <h1>Add a New Image</h1><br/>
    <input type="text" placeholder="Image Name" th:field="*{imgname}"/>
    <input id="alt" type="text" placeholder="Alternate Text" th:field="*{alttext}"/>
    <br/><label for="imgfile">Upload an Image to the Repository:</label>
    <br/>
    <input id="img" type="file" accept=".img,.jpeg,.png">
    <br/>
    <div id="imgs" style="margin: auto; center; width: 460px; height: 520px; background-repeat: no-repeat; background-size: 100% 100%;">
      <input type="hidden" id="imgf" th:field="*{imgurl}">
    </div>
    <br/>
    <input style="border-radius: 4px;" type="submit"/> <input style="border-radius: 4px;" type="button" value="Go Back" onclick=" window.history.back()"/>
  </form>
</body>
<script>
  const image_input = document.querySelector("#img");
image_input.addEventListener("change", function() {
   const reader = new FileReader();
   reader.addEventListener("load", () => {
   const uploaded_image = reader.result;
   document.querySelector("#imgs").style.backgroundImage = `url(${uploaded_image})`;
   document.querySelector("#imgf").value = `url(${uploaded_image})`;
});
   reader.readAsDataURL(this.files[0]);
});
</script>

</html>