<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="../public/stylesheets/index.css">
  
  <title>Img Repository</title>
</head>
<body>
  <div class="landing-page">
    
      <h1>Img Repository</h1>
      <a href="/ImageSubmit" ><input value="Add an Image to the Repository" type="button"/></a>
      <div class="imgrepo">
      <table id="imgtable">
      </table>
      </div>

      </div>
  </div>
</body>
<script>
  function generateImages(imgs){
    var body = document.getElementById("imgtable");
    var i = 1;
    var Innertable = "<tr>"
    var v = 3;
    imgs.forEach(img => {
      if(img != null){
        if(i == v){
            "</tr><tr>"
            v = v+3;
        }
        Innertable += '<td><div class="imgbox"><b class="ititle">'+img.imgname
        +'</b><div id="img'+i+'"style="background-image: '+img.imgurl+'" alt="'+img.alttext+'"></div>'
        +'<a href="/delete/'+img.id+'" ><input type="button" value="Delete"/></a>'
        +'</td>';
      }else{
        if(i <= v){
        Innertable += '<td><div class="imgbox"></td>';
        }
      }
      i++;
    });
    body.innerHTML = Innertable+"</tr>";
    for (let index = 1; index < i; index++) {
      imageload(index);  
    }
  }
  function imageload(i) {
    let reader = new FileReader();
    reader.readAsDataURL(document.getElementById("img"+i).style.backgroundImage);
  }
    </script>
    <script th:inline="javascript">
      var imgs = [[${imgs}]];
      generateImages(imgs);
    </script>
</html>