<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <link rel="stylesheet" href="./stylesheets/nasafront.css">
  <title>Nasa - Spacestagram</title>
  <script src="./nasafront.js"></script>
  </head>
<body>
<h1>Spacegram</h1>
<p style="color:rgb(170, 170, 170)">Brought to you by NASA's Astronomy Photo of the Day (APOD) API
<p style="color: gray;">Generate random images: <input style="width: 150px" id="number" min="1" max="100" type="number" placeholder="Number of Images"/> 
<br/>
If left empty it will display the image of the day.
</br>
<input class="buttonStyle" type ="button" value="Generate" onclick="generateNasaImgnum()"/>
</p>
</p>
<div id="MainBox">
</div>
</body>
<script>
generateNasaImgs("");
</script>
</html>